*{
margin: 0;
padding: 0;
}
html {
font-family: "Tahoma", sans-serif;
}
body {

/*  Было совмещением двух backgrounds -переделала на один.
height: 1065px;
background-image: url(../img/background-up.jpg), url(../img/background-down.jpg);
 background-repeat: no-repeat, no-repeat;
 background-position: top, bottom;
background-size: contain, cover; */
background-image: url(../img/background-down.jpg);
background-size: cover;
height: 1027px;
width: auto;     }

header{
width: 100%;
height: 36px;
line-height: 37px;
font-size: 14px;
background:url(../img/background-line.jpg) repeat-x;
margin: auto;
 }
.navigation-wrapper{
width: 100%;
position: relative;
}

.navigation{
height: 37px;
position: absolute;
right: 10px;
}


ul{
color: #65c1d4;
}
li.flag,
li.last-button{
color: #ffffff;
}

ul li,
.flag,
.last-button{
display: inline-block;
float: left;
padding: 0 10px;
}

ul li:nth-child(5){
border-right: 2px solid #65c1d4;
}

header ul li:hover,
div.flag:hover,
div.last-button:hover{
background-color: rgba(0, 191, 255, 0.2);
color: #ffffff;}

section {
width:100%;
margin-top: 220px;
}
.sign-up{
  width: 560px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.75);

  }
h1{
  height: 63px;
  line-height: 63px;
  border-bottom: 2px solid #F0FFF0;
  text-align: center;
  font-size: 30px;
  color: #ffffff;
}
.shadow a{
display: inline-block;
height: 37px;
line-height: 37px;
color: #ffffff;
margin: 36px 0 34px 2px;
background: linear-gradient(to top, #00008B, #1E90FF);
border-radius: 3px;
box-shadow: inset -1px 1px #C0C0C0;}

.shadow a i{
  width: 36px;
}
.facebook{
 padding: 0 35px;
 text-decoration: none;
 font-size: 18px;
 font-weight:bold;

}

fieldset{
  padding-top: 30px;
  width: 277px;
  color: #808080;
  margin: auto;
  border: none;
  border-top: groove 2px #999;

}
fieldset legend{
  color: #ffffff;
  font-size:18px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
display: block;
padding-left: 10px;
margin-bottom: 15px;
width: 277px;
height: 36px;
}
p{
  color: rgba(255, 255, 255, 0.5);
}

input[type="checkbox"]{
display: block;
float: left;
height: 20px;
line-height: 20px;}

button{
width: 150px;
height: 36px;
margin: 20px;
font-size:15px;
background-color: #00BFFF;
color: #ffffff;

}
